EXPO_PUBLIC_API_BASE_URL=https://api.example.com
EXPO_PUBLIC_REALTIME_URL=wss://api.example.com/v1/realtime
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_BUSINESS_WEB_BASE_URL=https://www.neptunebusiness.com
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://www.neptunebusiness.com/confidentialite
EXPO_PUBLIC_TERMS_URL=https://www.neptunebusiness.com/condition-generale-utilisation
EXPO_PUBLIC_ACCOUNT_DELETION_URL=https://www.neptunebusiness.com/suppression-compte
EXPO_PUBLIC_SUPPORT_URL=https://www.neptunebusiness.com/contact
EXPO_PUBLIC_MOCK_MODE=true
