EXPO_PUBLIC_API_BASE_URL=https://api.neptunebusiness.com/api
EXPO_PUBLIC_REALTIME_URL=
EXPO_PUBLIC_BACKEND_CONTRACT=neptune-web-v1
EXPO_PUBLIC_EAS_PROJECT_ID=d2288b09-8249-4879-810f-7cb0072baeeb
EXPO_PUBLIC_BUSINESS_WEB_BASE_URL=https://www.neptunebusiness.com
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://spoodfit.github.io/Neptune-messenger-connexio/privacy-policy.html
EXPO_PUBLIC_TERMS_URL=https://spoodfit.github.io/Neptune-messenger-connexio/connexio-terms.html
EXPO_PUBLIC_ACCOUNT_DELETION_URL=https://spoodfit.github.io/Neptune-messenger-connexio/account-deletion.html
EXPO_PUBLIC_SUPPORT_URL=mailto:contact@neptunebusiness.com
EXPO_PUBLIC_MOCK_MODE=true
